# Ignore all .idea directories and their contents in individual services
inventory-service/.idea/**
order-service/.idea/**
product-service/.idea/**

# Ignore Maven wrapper files
/**/mvnw
/**/mvnw.cmd
/**/.idea
/**/mysql/**
/**/mongo-data/**
/**/target/**
/**/.mvn/**
/**/volume-data/**
