/.idea/checkstyle-idea.xml
/inventory-service/.idea/checkstyle-idea.xml
/order-service/.idea/checkstyle-idea.xml
/product-service/.idea/checkstyle-idea.xml
/order-service/target/surefire-reports/com.vojvoda.orderservice.OrderServiceApplicationTests.txt
/order-service/target/surefire-reports/com.vojvoda.orderservice.TestOrderServiceApplication.txt
/product-service/target/surefire-reports/com.vojvoda.productservice.ProductServiceApplicationTests.txt
/inventory-service/.idea/compiler.xml
/order-service/.idea/compiler.xml
/product-service/.idea/compiler.xml
/order-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/order-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/product-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/product-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/inventory-service/.idea/dataSources.xml
/order-service/.idea/dataSources.xml
/product-service/.idea/dataSources.xml
/order-service/.idea/diff-generator.xml
/.idea/ecommerce-microservices.iml
/.idea/encodings.xml
/inventory-service/.idea/encodings.xml
/order-service/.idea/encodings.xml
/product-service/.idea/encodings.xml
/order-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/order-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/product-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/product-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/.idea/jarRepositories.xml
/inventory-service/.idea/jarRepositories.xml
/order-service/.idea/jarRepositories.xml
/product-service/.idea/jarRepositories.xml
/inventory-service/.idea/jpa.xml
/order-service/.idea/jpa.xml
/order-service/.idea/jpa-buddy-datasource.xml
/order-service/.idea/jpb-settings.xml
/.idea/misc.xml
/inventory-service/.idea/misc.xml
/order-service/.idea/misc.xml
/product-service/.idea/misc.xml
/.idea/modules.xml
/inventory-service/mvnw
/order-service/mvnw
/product-service/mvnw
/inventory-service/mvnw.cmd
/order-service/mvnw.cmd
/product-service/mvnw.cmd
/order-service/target/order-service-0.0.1-SNAPSHOT.jar
/order-service/target/order-service-0.0.1-SNAPSHOT.jar.original
/product-service/target/classes/com/vojvoda/productservice/model/Product$ProductBuilder.class
/product-service/target/product-service-0.0.1-SNAPSHOT.jar
/product-service/target/product-service-0.0.1-SNAPSHOT.jar.original
/order-service/target/surefire-reports/TEST-com.vojvoda.orderservice.OrderServiceApplicationTests.xml
/order-service/target/surefire-reports/TEST-com.vojvoda.orderservice.TestOrderServiceApplication.xml
/product-service/target/surefire-reports/TEST-com.vojvoda.productservice.ProductServiceApplicationTests.xml
/product-service/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/**
